.contenido5 {
  border: 2px solid red;
  color: white;
}
.contenido5-1 {
  border: 2px solid green;
}
.contenido5-2 {
  border: 2px solid rgb(255, 0, 212);
}
.contenido5-3 {
  border: 2px solid rgb(10, 84, 243);
}
