@import "./navegacion.css";
@import "./principal.css";
@import "./contenido1.css";
@import "./contenido2.css";
@import "./contenido3.css";
@import "./contenido4.css";
@import "./contenido5.css";
@import "./pie.css";

:root {
  --fontbase: "Roboto", sans-serif;
  --headLine1: bold 81px/82px var(--fontbase);
  --headLine2: bold 30px/33px var(--fontbase);
  --headLine3: 400 16px/18px var(--fontbase);
  --headLine4: bold 81px/82px var(--fontbase);
  --black: #000000;
  --yellow: #d1be13;
}

body {
  background: var(--black);
}
