.navegacion {
    /* border: 2px solid red; */
    /* background: rgba(0, 0, 0, 0.1); */
    padding-block-start: 1rem;
}

.navegacion {
    font: var(--seraveklightnav) !important;
}

.nav-link {
    color: #ffd50f;
}