.pie {
  /* border: 2px solid red; */
  background: #eeeeee;
  color: black;
}
.pie1 {
  /* border: 2px solid green; */
  text-align: center;
  display: block;
  position: relative;
  top: -40px;
}
.pie-icons {
  color: #747474;
  text-align: start;
  display: flex;
  justify-content: center;
  grid-gap: 5rem;
  margin-block-start: 2rem;
}
